<% layout('layouts/boilerplate')-%>

<div class="listForm">
<form action="/listings/<%=listing._id%>/edit?_method=PUT" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-label">Title : </label>
        <input type="text" class="form-control" id="title" name="title" value="<%=listing.title%>" required >
        <div class="invalid-feedback">
            Title is required
        </div>
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Describe the place : </label>
        <textarea class="form-control" id="description" rows="3" cols="20" name="description" required><%=listing.description%></textarea>
        <div class="invalid-feedback">
            Describe your place 
        </div>
    </div>
    
    <div class="mb-3">
        <label for="location" class="form-label">Location : </label>
        <input type="text" class="form-control" id="location" name="location"  value="<%=listing.location%>" required>
        <div class="invalid-feedback">
            Location is required
        </div>
    </div>

    <div class="mb-3">
        <label for="country" class="form-label">Country : </label>
        <input type="text" class="form-control" id="country" name="country" value="<%=listing.country%>" required>
        <div class="invalid-feedback">
            Country is required
        </div>
    </div>

    <div class="mb-3">
        <span><img src="<%= imageUrl %>" alt=":-(" style="height: 100px;width: 100px;"></span>
        <label for="image" class="form-label">New image :</label>
        <input type="file" id="image" name="image" class="form-control" style="display: inline-block;width: 50%;"/>
    </div>

    <div class="mb-3">
        <label for="price" class="form-label">Price : </label>
        <input type="text" class="form-control" id="price" name="price" value="<%=listing.price%>" required>
        <div class="invalid-feedback">
            Please quote a price
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
